body {

  margin:0;
padding:0;
overflow-x: hidden;
font-family: "Open Sans";
background-color: rgb(140,0,150);
background-image: url(baggrundprim%C3%A6r.jpg);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(255,255,255,0.6);


}
li {
  float: right;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}
li a:hover {
  background-color: rgb(160,20,180,0.6);
    opacity: 1;
}

h1{
    font-size: 50px;
font-style:normal;
font-family: "times";
text-align: left;
position: relative;
left:50px;
top:-30px;
color: rgb(255,255,255);
text-shadow:10px;
}
h2{    font-size: 25px;
font-style:normal;
text-align: left;
position: relative;
left:50px;
top:-50px;
color: rgb(255,255,255);
text-shadow:10px;}
h3{ font-size: 25px;
font-style:normal;
text-align: left;
position: relative;
left:275px;
top:-325px;
color: rgb(0,0,0);
text-shadow:10px;}
h4{ font-size: 25px;
font-style:normal;
text-align: left;
position: relative;
left:10px;
top:-25px;
color: rgb(0,0,0);
text-shadow:10px;}


p1{   
color:rgb(0,0,0);
    position:relative;
    top: -350px;
    left:276px;
}
p2{color:rgb(0,0,0);
    position:relative;
    top: -40px;
    left:13px;}
p3{color:rgb(0,0,0);
    position: relative;
    top:-570px;
    left: 680px;
}
p4{color:rgb(0,0,0);
    position:relative;
    top: 10px;
    left:13px;}

.header {
  text-align: left;
padding:10px;
  background: transparent;
  height: 150px;
    color: black;}

.flip-box {
  background-color:rgb(255,255,255,0);
  width: 244px;
  height: 300px;
  border: rgb(255,255,255,0);
    perspective: 1000px;
    position: relative;
    left:15px;

}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-box-front {
  background-color: #bbb;
  color: black;
}
.flip-box-back {
  background-color: rgb(160,20,180);
  color: white;
    padding: 10px;
  transform: rotateY(180deg);
}


div.box1 {
  width: 1310px;
height: 400px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 30px;
}
div.box2 {
  width: 1310px;
height: 400px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 30px;}
div.box3 {
  width: 620px;
height: 400px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 30px;
    }
div.box4 {
  width: 620px;
height: 400px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 715px;
    top: -450px;
    }
div.box5 {
  width: 620px;
height: 750px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 30px;
    top:-300px;
}
div.box6 {
  width: 620px;
height: 780px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 715px;
    top: -1100px;
    }
div.box7 {
  width: 315px;
height: 620px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 30px;
    top:-1080px;
}
div.box8 {
  width: 935px;
height: 660px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 400px;
    top:-1750px;
}
div.box9 {
  width: 620px;
height: 650px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 715px;
    top: -770px;
    }
div.box10 {
  width: 1310px;
height: 550px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 30px;
top:-750px;}
div.box11 {
  width: 1310px;
height: 600px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 30px;
top:-400px;}
div.box12 {
  width: 330px;
height: 600px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 30px;
top:-400px;}
div.box13 {
  width: 400px;
height: 300px;
  padding: 15px; 
  margin: 20px; 
background-color: rgb(255,255,255,0.7);
    position: relative;
    left: 410px;
    top:-1050px;
}

div.img1{
    position: relative;
    top: 0px;
}
div.img2{
    position: relative;
    height: 300px;
    top: -227px;
    left: 320px;
}
div.img3{
    position: relative;
    height: 300px;
    top: 0px;
    left: 10px;
}
div.img4{
    position: relative;
    height: 300px;
    top: 0px;
    left: 50px;
}
div.img5{
    position: relative;
    height: 300px;
    top: -450px;
    left: 700px;
}
div.img6{
    position: relative;
    height: 300px;
    top: -35px;
    left: 15px;
}
div.img7{
    position: relative;
    height: 300px;
    top: -550px;
    left: 780px;
}
div.img8{
    position: relative;
    height: 300px;
    top: -280px;
    left: 780px;
}
